// Colors
$primary-color: #f7eee4;
$secondary-color: #550105;
$primary-complementing-color: #fdf5db;
$secondary-complementing-color: #5e1515;

// Text
$text-font: "Verdana", "Arial", "Helvetica", sans-serif;
$title-font: "Roboto", "Arial", "Helvetica", sans-serif;
$text-color: #000000;
$link-color: $secondary-color;

$title-before: 2em;
$title-after: 1em;
$article-after: 1em;
$article-sides: 2em;

// Sides
$background: $secondary-color;

// Main content
$content-color: $primary-color;
$body-width-min: 10em;
$body-width-max: 50em;
$section-margin: 2em;

// Navigation
$nav-buttons-justify: space-evenly;
$nav-buttons-margin: 1em 1.5em;
$nav-detached: false;                     // true or false
$nav-fullwidth: false;                    // true or false
$mobile-width: $body-width-max;

// Footer
$footer-color: #ddddaa;

// Buttons
$button-radius: 1em;
$button-regular-bg: $secondary-color;
$button-regular-text: $primary-color;
$button-regular-border: #000000;
