html {
  background: #550105;
  font-family: "Verdana", "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.3em;
}

body {
  margin: 0;
}

nav, section, footer {
  margin: auto;
  background-color: #f7eee4;
  min-width: 10em;
  max-width: 50em;
}

nav {
  display: flex;
}
@media (min-width: 50em) {
  nav {
    height: 4em;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 50em) {
  nav #logo {
    align-items: stretch;
    z-index: 100;
  }
}
@media (max-width: 50em) {
  nav #logo {
    display: inline-block;
    align-self: center;
    opacity: 0.05;
    width: 0;
    flex-grow: 1;
    pointer-events: none;
  }
}
nav #logo img {
  margin-left: 2em;
}
@media (min-width: 50em) {
  nav #logo img {
    margin-top: 7em;
  }
}
nav #options {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}
@media (min-width: 50em) {
  nav #options {
    flex-direction: row;
  }
}
@media (max-width: 50em) {
  nav #options {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}
nav #options .nav-button {
  text-decoration: none;
  color: #550105;
  padding: 1em 1.5em;
}

.grid-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
}
.grid-wrapper article {
  box-sizing: border-box;
}
@media (min-width: 50em) {
  .grid-wrapper .desk-100 {
    width: 100%;
  }
  .grid-wrapper .desk-75 {
    width: 75%;
  }
  .grid-wrapper .desk-50 {
    width: 50%;
  }
  .grid-wrapper .desk-25 {
    width: 25%;
  }
}
@media (max-width: 50em) {
  .grid-wrapper .mob-100 {
    width: 100%;
  }
  .grid-wrapper .mob-75 {
    width: 75%;
  }
  .grid-wrapper .mob-50 {
    width: 50%;
  }
  .grid-wrapper .mob-25 {
    width: 25%;
  }
}

@media (max-width: 50em) {
  .mob-button {
    padding: 1em;
    border: 1px solid #550105;
    background-color: #f7eee4;
    color: #550105;
    text-align: center;
    border-radius: 1em;
  }
}
section > div, footer > div {
  padding: 2em;
}

article {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}

article > .title {
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: larger;
  font-weight: bold;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
}

#content {
  min-height: 10em;
}

footer {
  color: #ddddaa;
}

#news > article {
  font-size: smaller;
}
#news > article div {
  padding: 0.5em;
}
#news > article .title {
  font-weight: bold;
}

/*# sourceMappingURL=azieuithoorn.css.map */
