@import 'vardefs';
@import '../../../../core/static/core/scss/elements';

#news > article {
  font-size: smaller;

  div {
    padding: .5em;
  }
  .title {
    font-weight: bold;
  }
  .body {

  }
}