article {
  h2 {
    text-align: center;
  }

  .notes {
    border: 3px dotted black;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1em;
  }

  .item {
    margin-bottom: .6em;

    .line {
      font-weight: bold;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .dotted {
        border-bottom: 1px dotted black;
        flex-grow: 1;
        margin: 0 1em;
      }

      .price {
        align-self: center;
      }
    }

    .description {
      font-style: italic;
    }
  }
}