article h2 {
  text-align: center;
}
article .notes {
  border: 3px dotted black;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 1em;
}
article .item {
  margin-bottom: 0.6em;
}
article .item .line {
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
article .item .line .dotted {
  border-bottom: 1px dotted black;
  flex-grow: 1;
  margin: 0 1em;
}
article .item .line .price {
  align-self: center;
}
article .item .description {
  font-style: italic;
}

/*# sourceMappingURL=menu.css.map */
