html {
  background: $background;
  font-family: $text-font;
  letter-spacing: 0.03em;
  line-height: 1.3em;
}

body {
  margin: 0;
}

nav, section, footer {
  margin: auto;
  background-color: $content-color;
  min-width: $body-width-min;
  max-width: $body-width-max;
}

nav {
  display: flex;

  @media (min-width: $mobile-width) {
    height: 4em;
    justify-content: $nav-buttons-justify;
    align-items: center;
    @if $nav-detached { margin-bottom: 1em };
    @if $nav-fullwidth { width: 100%; max-width: 100%; }
  }


  #logo {
    @media (min-width: $mobile-width) {
      align-items: stretch;
      z-index: 100;
    }

    @media (max-width: $mobile-width) {
      display: inline-block;
      align-self: center;
      opacity: 0.05;
      width: 0;
      flex-grow: 1;
      pointer-events: none;
    }

    img {
      @media (min-width: $mobile-width) {
        margin-top: 7em;
      }
      margin-left: 2em;
    }
  }

  #options {
    display: flex;
    justify-content: $nav-buttons-justify;
    flex-grow: 1;

    @media (min-width: $mobile-width) {
      flex-direction: row;
    }

    @media (max-width: $mobile-width) {
      flex-direction: column;
      text-align: center;
      width:100%;
    }

    .nav-button {
      text-decoration: none;
      color: $link-color;
      padding: $nav-buttons-margin;
    }
  }


}

.grid-wrapper {
  display: inline-flex;
  flex-wrap: wrap;

  article {
    box-sizing: border-box;
  }

  @media(min-width: $mobile-width) {
    .desk-100 { width: 100%; }
    .desk-75 { width: 75%; }
    .desk-50 { width: 50%; }
    .desk-25 { width: 25%; }
  }

  @media(max-width: $mobile-width) {
    .mob-100 { width: 100%; }
    .mob-75 { width: 75%; }
    .mob-50 { width: 50%; }
    .mob-25 { width: 25%; }
  }
}

@media(max-width: $mobile-width) {
  .mob-button {
    padding: 1em;
    border: 1px solid $link-color;
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
    border-radius: $button-radius;
  }
}

section > div, footer > div {
  padding: $section-margin;
}

article {
  padding-left: $article-sides;
  padding-right: $article-sides;
  padding-bottom: $article-after;
}

article > .title {
  padding-top: $title-before;
  padding-bottom: $title-after;
  font-size: larger;
  font-weight: bold;
  font-family: $title-font
}

#content {
  min-height: 10em;
}

footer {
  color: $footer-color;
}