#slideshow > .container {
    position: relative;
    padding: 0;
    height: auto;
}

#slideshow > .container > img {
    position: absolute;
    top: 0;
    transition-property: opacity;
    transition-duration: 1500ms;
    width: 100%;
}
