{% extends 'azieuithoorn/page.html' %}

{% block body %}
    <div class="grid-wrapper">
    {% for item in news %}
        {% if forloop.first %}
            <article class="desk-100 mob-100">
            <div class="title">{{ item.title }}</div>
            <div class="body">{{ item.body }}</div>
            </article>
        {% else %}
            <article class="desk-50 mob-100">
            <div class="title">{{ item.title }}</div>
            <div class="body">
                {{ item.body | truncatechars:400 }}
                {% if item.body|length > 400 %}<p class="mob-button">Lees meer...</p>{% endif %}
            </div>
            </article>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
