{% extends 'core/core.html' %}
{% load static %}

{% block title %}Restaurant Azië Uithoorn{% endblock %}

{% block head %}
    <link href="{% static 'azieuithoorn/scss/azieuithoorn.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav %}
    <a href="{% url 'news' %}" class="nav-button">Nieuws</a>
    <a href="{% url 'takeaway' %}" class="nav-button">Afhaalmenu</a>
    <a href="{% url 'table' %}" class="nav-button">Restaurantmenu</a>
    <a href="{% url 'contact' %}" class="nav-button">Contact</a>
{% endblock %}

