{% extends 'azieuithoorn/page.html' %}
{% load tags %}

{% block body %}
    <div class="grid-wrapper">
        {% for category in api %}
            <article class="desk-100 mob-100">
            <h2>{{ category.name }}</h2>
            {% for item in category.menu_items %}
                {% if item.table_price %}
                <div class="item">
                    <div class="line">
                        <span class="name">{{ item.name }}</span>
                        <span class="dotted"></span>
                        <span class="price">{{ item.table_price | to_euro }}</span>
                    </div>
                    <div class="description">{{ item.description }}</div>
                </div>
                {% endif %}
            {% endfor %}
            {% if category.notes %}
                <div class="notes">{{ category.notes }}</div>
            {% endif %}
            </article>
        {% endfor %}
    </div>
{% endblock %}
