{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'core/scss/slideshow.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
<nav>
    <span id="logo"><img src="{{ logo.url }}" alt="logo"></span>
    <span id="options">
    {% block nav %}{% endblock %}
    </span>
</nav>
<section id="slideshow" data-aspectratio="{{ slideshow_aspect_ratio }}">
    {% for image in slideshow_images %}
        <div class="container">
            <img src="{{ image.image.url }}">
        </div>
    {% empty %}
        <div style="background-image: url('{{ ribbon.url }}'); height: {{ ribbon.height }}px; padding: 0"></div>
    {% endfor %}
</section>
<section id="content">
    {% block body %}{% endblock %}
</section>
<footer>
    <div>
    {% block footer %}{% endblock %}
    <a href="/admin/">©</a>OmniaDicta {% now "Y" %}
    </div>
</footer>
{% if slideshow_images.count > 1 %}
    <script src="{% static 'core/js/slideshow.js' %}"></script>
{% endif %}
</body>
</html>